<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>signup | Lyricpad signup</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="robots" content="NONE,NOARCHIVE">
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>

<body class=" login"
  data-admin-utc-offset="0">



<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">Lyricpad</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">

            {% if request.user.username %}

          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile <span class="caret"></span></a>
            {% endif %}

          <ul class="dropdown-menu">
            <li><a href="/mylyrics">My lyrics</a></li>
<!--            <li><a href="#">p2</a></li>-->
<!--            <li><a href="#">p3</a></li>-->
          </ul>
        </li>
        <li><a href="/about">About me</a></li>
        <li><a href="/contact">Contact us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">


        {% if request.user.username%}

            <li><a href="/signout"><span class="glyphicon glyphicon-log-in"></span> {{request.user.username}} (Logout)</a></li>


          {%else%}

            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

          {%endif%}


      </ul>
    </div>
  </div>
</nav>




<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<h1 id="site-name"><a href="/signup">Lyricpad Signup</a></h1>

            </div>


    </div>
    <!-- END Header -->


    <!-- Content -->
    <div id="content" class="colM">


<div id="content-main">

{% load crispy_forms_tags %}

<form action="" method="post" id="login-form" novalidate>{% csrf_token %}
  <div class="form-row">

<!--    <label class="required" for="id_username">Username:</label> <input type="text" name="username" autofocus required id="id_username">-->
<!--        <table>-->
              {{form | crispy}}
<!--        </table>-->



      <label>&nbsp;</label><input type="submit" value="Signup">


  </div>
</form>


</div>


        <br class="clear">
    </div>
    <!-- END Content -->

    <div id="footer">     Already have account | <a href="/signin">SignIn</a>
 </div>

</div>
<!-- END Container -->
</body>
</html>